{% block content %}
<h2> Scorecard </h2>
<div class="container-responsive">
  <div class="row">
    <div class="col s1 green-text text-darken-2">
    <ul class="tabs rounds-tabs">
      {% for round in rounds %}
      <li class="tab">
        <a href="#round-{{round.id}}" class="green-text text-darken-2 {{ "active" if loop.first }}">{{ round.name }}</a>
      </li>

      {% endfor %}
      <li class="tab">
        <a href="#final-sheet" class="green-text text-darken-4"> Final Totals </a>
      </li>
    </ul>
    </div>

    <div class="col m8">
      {% for round in rounds %}
      <div class="container-responsive scorecard-rounds" id="round-{{round.id}}" >
        <h5>   {{ round.name }}  </h5>
          <div class="row">
            <div class="col s1"> </div>
            <div class="col s1 center-align"> <b> Questions </b> </div>
            <div class="col right right-align"> <b> Round Total </b> </div>
          </div>
          <div class="row">
            <div class="col s1 right-align">
              <b> Team </b>
            </div>
          {% for i in range(1, (round.questions|int)+1) %}
            <div class="col s1 center-align"> <b>{{i}}</b></div>
          {% endfor %}
        </div>
        {% for team in teams %}
        <div class="row scorecard-row">
              <div class="col s1 right-align"> <i class="green-text text-darken-3"> {{ team.name }} </i> </div>
              {% for i in range(1, (round.questions|int)+1) %}
                <div class="col s1 center-align"> <input type="number" data-team="{{ team.id }}" data-round="{{round.id}}" data-question="{{ i }}" value="{{ team.point_data[round.id][i] }}" class="scorecard-input"></input></div>
              {% endfor %}
              <div class="col right"><b class="round-totaler" data-team="{{team.id}}" data-round="{{round.id}}">  {{ team.total_data[round.id] }}   </b> </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <div id="final-sheet">
    </div>

    </div>

    </div>


  </div>
<script> $(document).find('.rounds-tabs').tabs(); </script>
</div>
{% endblock %}
